@tailwind base;
@tailwind components;
@tailwind utilities;

.checkout-container {
  @apply flex flex-col lg:flex-row justify-center relative max-w-max m-4
}

/* Trick to get a 50% split box shadow as a background */
.checkout-container::before {
  content: '';
  z-index: -1;
  @apply fixed top-0 right-0 lg:w-1/2 lg:h-screen lg:shadow-xl
}

.checkout-info {
  @apply flex flex-row justify-center lg:justify-end h-full pt-2 pb-6 lg:pb-10 lg:pr-16 lg:pt-12
}

.checkout-form {
  @apply flex flex-row justify-center lg:justify-start h-full pt-2 pb-10 lg:pl-16 lg:pt-12
}

.card-form-input {
  @apply placeholder-gray-600 placeholder-opacity-30 border-gray-300 focus:border-yellow-500 focus:ring-yellow-500
}

.submit-progress-circle {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
}
